[submodule "lib/Graphite"]
	path = lib/Graphite
	url = https://github.com/cgutteridge/Graphite.git
[submodule "lib/arc2"]
	path = lib/arc2
	url = https://github.com/semsol/arc2.git
[submodule "Text-Statistics"]
	path = Text-Statistics
	url = git@github.com:patrickmcsweeney/Text-Statistics.git
